@model PL.Models.PageViewModels.AuthorSinglePageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kreiranje Autora</h2>
<hr />

@if (Model.Success)
{
    using (Html.BeginForm("Edit", "Author", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.AuthorViewModel.AuthorId)
            <label class="control-label col-md-2">Nacionalnost:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.AuthorViewModel.Name, new { @class = "form-control" })
                @Html.ValidationMessage("AuthorViewModel.Name");
            </div>
            <label class="control-label col-md-2">Nacionalnost:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.AuthorViewModel.Nationality.NationalityId, new SelectList(Model.NationalityViewModels, "NationalityId", "Nationality"), new { @class = "form-control" })
                @Html.ValidationMessage("AuthorViewModel.Nationality.NationalityId");
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Potvrdi" />
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert-danger">
                <a href="#" class="close" data-dissmiss="alert" aria-label="close">&times;</a>
                <strong>Greska!</strong> @Model.Message
            </div>
        </div>
    </div>
}

